body {
font-family: Arial;
background: #f4f4f4;
text-align: center;
}

h1 {
background: #222;
color: white;
padding: 15px;
}

.formulario {
margin: 20px;
}

input, select {
padding: 8px;
margin: 5px;
}

button {
padding: 8px 15px;
background: #28a745;
color: white;
border: none;
cursor: pointer;
}

.producto {
background: white;
margin: 15px auto;
padding: 10px;
width: 260px;
border-radius: 8px;
}

img {
width: 100%;
border-radius: 5px;
}

#chat {
    width: 300px;
    background: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#mensajes {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

#chat input {
    width: 70%;
    padding: 5px;
}

#chat button {
    padding: 5px;
    margin-top: 5px;
}